.home-page-header {
    width: 100%;
    height: 59px;

    background-color: #5A5A5A;

    border: 1px solid #707070;
}


.home-page-header p {
    width: 226px;
    height: 14px;

    font-size: 10px;
    font-family: Regular;

    color: #ffffff;
}

.home-page-header input {
    width: 174px;
    height: 28px;

    margin-left: 219.8px;

    border: 1px solid #707070;
    border-radius: 10px;

    font-size: 12px;
    font-family: Regular;

    padding-left: 10px;
}


.home-page-header img:first-child {
    width: 114px;
    height: 40px;

    margin-left: 16px;
}

.home-page-header div:nth-child(3) {
    width: 22px;
    height: 22px;

    margin-left: 4px;
}

.home-page-header div:nth-child(3) img {
    width: 22px;
    height: 22px;
}

.home-page-header div:nth-child(4) {
    width: 22px;
    height: 22px;

    margin-left: 11.5px;
}

.home-page-header div:nth-child(4) img {
    width: 19.5px;
    height: 2.5px;
}

.home-page-header div:last-child {
    width: 22px;
    height: 22px;

    margin-left: 11.5px;
}

.home-page-header div:last-child img {
    width: 17px;
    height: 17px;
}

.home-page-content {
    width: 100%;

    overflow: hidden;
}

.content-border {
    border: .5px solid #D8D8D8;
}

.platform-content-container {
    width: 114px;
    height: 440px;
}

.platform-content {
    width: 114px;
    height: 301px;

    overflow: auto;
}


.platform-content::-webkit-scrollbar {
    display: none;
}

.platform-content .platform-item {
    width: 113px;
    height: 48px;
    background-color: #ffffff;

    cursor: pointer;
}

.platform-content .platform-active {
    background-color: #E9E9E9;
}

.platform-content .platform-item p {
    width: 75px;
    height: 20px;

    line-height: 20px;

    font-size: 15px;
    font-family: "Segoe UI Semibold";

    text-align: center;

    color: #5A5A5A;

    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

.app-msg-content {
    width: 114px;
    height: 140px;
    background-color: #ffffff;

    border-top: 1px solid #D8D8D8;
}

.app-msg-content .text {
    width: 86px;
    height: 42px;

    margin-bottom: 10px;

    font-size: 10px;
    font-family: Regular;

    text-align: center;
    line-height: 12px;
    letter-spacing: .5px;

    color: #5A5A5A;
}

.app-msg-content>div {
    width: 90px;
    height: 50px;
}

.app-msg-content>div>div {
    cursor: pointer;
    margin-top: 10px;
}

.app-msg-content p {
    font-size: 10px;
    font-family: Regular;

    color: #5A5A5A;
}



.app-msg-content img {
    margin-left: 4px;
}

.content-split {
    flex: 1;
    height: 440px;

    background-color: #D8D8D8;
}

.music-content {
    width: 534px;
    height: 440px;

    border-left: 0;
    border-bottom: 0;
}

.music-content .music-menu {
    width: 534px;
    height: 48px;

    border-left: 0;
    border-top: 0;
    border-bottom: 1px solid #D8D8D8;
}

.music-content .music-menu p:nth-child(2) {
    font-size: 10px;
    font-family: Regular;

    margin-left: 4px;
}

.music-content .music-menu p:nth-child(3) {
    font-size: 15px;
    font-weight: bold;
    font-family: Semibold;

    margin-left: 11px;
}

.music-content .music-menu input {
    width: 285px;
    height: 24px;

    margin-left: 6px;
}

.music-content .music-menu img {
    width: 23.3px;
    height: 18.3px;

    margin-left: 16.2px;

    cursor: pointer;
}

.music-content .music-menu img:first-child {
    width: 15px;
    height: 15px;

    margin-left: 12px;
}

.music-content .music-menu img:nth-child(6) {
    width: 20.5px;
    height: 20.5px;

    margin-left: 11.9px;
}

.music-content .music-menu img:last-child {
    width: 20.5px;
    height: 20.5px;

    margin-left: 12px;
}

.music-item-content {
    width: 100%;
    height: 390px;

    overflow: auto;
}

.music-item-content div {
    height: 25px;

    border-bottom: 1px solid #D8D8D8;
}

.music-item-content div p {
    font-size: 10px;
    font-family: Semibold;

    color: #5A5A5A;

    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

.music-item-content div img {
    width: 15px;
    height: 15px;

    margin-left: 12px;
}

.music-item-content div p:nth-child(2) {
    width: 180px;

    margin-left: 13px;
}

.music-item-content div p:nth-child(3) {
    width: 40px;

    margin-left: 38px;
}

.music-item-content div p:last-child {
    width: 120px;
    margin-left: 38px;
}